<div class="limiter">
    <div class="container-fluid">
        <div class="wrap-smallbox">
            <div class="wrap-header">
                <img src="../assets/Image/LogoImg.png" alt="logo" class="size-image">
                <div class="textlogo">
                    <h1>Mahidol University</h1>
                    <h2>Siriraj Hospital</h2>
                </div>
            </div>

            <div class="wrap-form">
                <form>
                    <div class="input-login">
                        <label>Username</label>
                        <input type="text" name="username" [(ngModel)]="isUsername"> <!-- placeholder="Enter Username"  -->

                        <label>Password</label>
                        <input type="password" name="password"  [(ngModel)]="isPassword">
                    </div>

                    <div class="btn-row">
                        <button type="submit" (click)="clickLogin()" class="btn-submit">Login</button>
                        <button type="submit" (click)="clickClear()" class="btn-cancel">Clear</button>
                    </div>

                    <div (click)="register()" class="reg_click">
                        register
                    </div>

                </form>
            </div>           
        </div>      
    </div> 
</div>  