* {
	margin: 0px; /*นับจากข้างนอก (top, right, bottom, and left)*/
	padding: 0px; /*นับจากข้างใน (top, right, bottom, and left)*/
    box-sizing: border-box;
    /*border: 1px solid #c4b0de;*/
}

body, html {
    height: 100%;
    font-size: 20px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #cee4eb;
}

/*Set login box*/
.wrap-smallbox {
    width: 400px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

/* Set all element in header box at center*/
.wrap-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: #2e184b;
    /* padding: 5px;*/
}

.size-image {
    display: block;
    width: 80px;
    height: 80px;
}

.textlogo{
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.wrap-form {
    padding: 10px;
}

.input-login label {
    display: block;
    padding: 5px 0px;
    font-weight: bold;
}

.input-login input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn-row {
    margin: 10px 0px ; /*Set margin top and bottom 10px and set margin left and right 0px*/
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 25px;
}

.btn-submit {
    flex: 1;
    background:Turquoise;
}

.btn-cancel {
    flex: 1;
    background: red;
}

.reg_click {
    cursor: pointer;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
