<div class="header">
    <img src="../assets/Image/LogoImg.png" alt="logo" width="80" height="80">
    <div class="textlogo">
        <h1>Mahidol University</h1>
        <h2>Siriraj Hospital</h2>
    </div>
    <!--End class textlogo-->
    <div class="menu-right">

        <button mat-fab class="btn-icon" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <!-- <div>User &nbsp;{{isUsername}}</div> -->
            <div class="txt-username">{{isUsername}}</div>
            <div class="txt-role">Role: {{isRoleName}}</div>
            <mat-divider></mat-divider>
            <button class="btn-menu" mat-menu-item (click)="clickEditProfile()">
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
            <mat-divider></mat-divider>
            <button class="btn-menu" mat-menu-item (click)="clickLogout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </mat-menu>
    </div>
</div>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <ul class="nav-left-sidebar">
            <li *ngIf="checkPermission('ViewMenuDashboard')" [ngClass]="{'selected':selectMenu == 'Dashboard'}"
                class="nav-link" (click)="routeToDashboard()"> Dashboard </li>

            <li *ngIf="checkPermission('ViewMenuPartient')" [ngClass]="{'selected':selectMenu == 'Patient'}"
                class="nav-link" (click)="routeToPatient()">Patient Management
            </li>

            <li *ngIf="checkPermission('ViewMenuRecFace')" [ngClass]="{'selected':selectMenu == 'RecFaces'}"
                class="nav-link" (click)="routeToCommingSoon()">RecFacesApplication</li>

            <li *ngIf="checkPermission('ViewMenuUser')" [ngClass]="{'selected':selectMenu == 'User'}" class="nav-link"
                (click)="routeToUser()">User Management</li>

            <li *ngIf="checkPermission('ViewMenuRole')" [ngClass]="{'selected':selectMenu == 'Role'}" class="nav-link"
                (click)="routeToRole()">Role Management</li>

            <li *ngIf="checkPermission('ViewMenuLog')" [ngClass]="{'selected':selectMenu == 'Log'}" class="nav-link"
                (click)="routeToManageLog()">Log Management</li>

        </ul>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>