<div class="header">
    <img src="../assets/Image/LogoImg.png" alt="logo" width="80" height="80">
    <div class="textlogo">
        <h1>Mahidol University</h1>
        <h2>Siriraj Hospital</h2>
    </div>
    <!--End class textlogo-->
    <div class="menu-right">
        <!-- #docregion mat-menu-trigger-for -->
        <button mat-fab class="btn-icon" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
        <!-- #enddocregion ma t-menu-trigger-for -->
        <mat-menu #menu="matMenu">
            <!-- <div>User &nbsp;{{isUsername}}</div> -->
            <div class="txt-username">{{isUsername}}</div>
            <mat-divider></mat-divider>
            <button class="btn-menu" mat-menu-item (click)="clickEditProfile()"><!-- (click)="clickEditProfile(isUsername)" -->
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
            <mat-divider></mat-divider>
            <button class="btn-menu" mat-menu-item (click)="clickLogout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </mat-menu>
    </div>
</div>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>

        <ul class="nav-left-sidebar">
            <li class="nav-link"  [ngClass]="{'selected':selectMenu == 'Dashboard'}" (click)="routeToDashboard()">Dashboard</li>
            <li class="nav-link" [ngClass]="{'selected':selectMenu == 'Patient'}" (click)="routeToPatient()">Patient Management</li>
            <li class="nav-link" [ngClass]="{'selected':selectMenu == 'RecFaces'}" (click)="routeToCommingSoon()">RecFacesApplication</li>
            <li class="nav-link" [ngClass]="{'selected':selectMenu == 'User'}" (click)="routeToUser()">User Management</li>
            <li class="nav-link" [ngClass]="{'selected':selectMenu == 'Log'}" (click)="routeToManageLog()">Log Management</li>
        </ul>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>