<!-- <div class="limiter"> -->
    <div [ngClass]="{'container-regiter':checkAction(), 'container':!checkAction()}">
        <div class="wrap-smallbox">
            <div class="wrap-header" *ngIf="action=='register'">

                <img src="../assets/Image/LogoImg.png" alt="logo" class="size-image">

                <div class="textlogo">
                    <h1>Mahidol University</h1>
                    <h2>Siriraj Hospital</h2>
                </div>
                <!--End class textlogo-->

            </div>

            <div class="wrap-form">
                <form [formGroup]="formGroup">
                    <!-- <p>ลงทะเบียนเข้าใช้งานระบบ</p> -->
                    <!-- <p>ข้อมูลของผู้ขอเข้าใช้งานระบบ</p> -->
                    <div class="input-login">

                        <label>Username</label>
                        <input type="text" name="username" formControlName="isUsername" autocomplete="false" required> <!-- placeholder="Enter Username"  -->

                        <label>Password</label>
                        <input type="password" name="password" formControlName="isPassword" autocomplete="false" required>

                        <label>Re-Password</label>
                        <input type="password" name="re-password" formControlName="isRePassword" autocomplete="false" required>

                        <label>Name</label>
                        <input type="text" name="name" formControlName="isName" autocomplete="false" required>

                        <label>Surname</label>
                        <input type="text" name="surname" formControlName="isSurname" autocomplete="false" required>

                        <label>Telephone</label>
                        <input type="tel" name="telephone" formControlName="isTelephone" autocomplete="false" required>

                        <label>E-mail</label>
                        <input type="email" name="e-mail" formControlName="isEmail" autocomplete="false" required>

                        <label>Department</label>
                        <select name="departmentId" id="departmentId" formControlName="isDepartmentId">
                            <option *ngFor="let item of departmentList" [value]="item.id" >{{item.name}}</option>
                        </select>

                    </div>

                    <div class="submit-btn">
                        <button type="submit" (click)="clickRegister()" name="reg_submit"
                            class="btn-submit">Register</button>
                        <button type="submit" (click)="clickCancel()" name="reg_cancel"
                            class="btn-cancel">Cancel</button>
                    </div>

                </form>
            </div>
            <!--End wrap-form -->
        </div>
        <!--End wrap-login-->
    </div>
    <!--container-fluid-->
<!-- </div> -->
<!--End limiter-->