<div [ngClass]="{'container-regiter':checkAction(), 'container':!checkAction()}">
    <div [ngClass]="{'wrap-smallbox':checkAction(), 'wrap-box':!checkAction()}">
        <div class="wrap-header" *ngIf="action=='register'">
            <!-- Header Register Page -->
            <img src="../assets/Image/LogoImg.png" alt="logo" class="size-image">
            <div class="textlogo">
                <h1>Mahidol University</h1>
                <h2>Siriraj Hospital</h2>
            </div>
        </div>

        <div *ngIf="action=='edit'">
            <!-- Header Edit User Profile Page -->
            <h2>Edit User Profile</h2>
        </div>

        <div *ngIf="action=='add'">
            <!-- Header Add New User Page -->
            <h2>Add New User</h2>
        </div>

        <div class="wrap-form">
            <form [formGroup]="formGroup" autocomplete="off">
                <div class="input-login">
                    <div class="row">
                        <label>Username</label>
                        <input type="text" name="username" formControlName="isUsername" autocomplete="off"
                            [attr.disabled]="action=='edit' ? '' : null">
                        <!-- placeholder="Enter Username"  -->
                    </div>
                    <div class="row" *ngIf="action!=='edit'">
                        <label>Password</label>
                        <input type="password" name="password" formControlName="isPassword"
                            (change)="checkDuplicatePassword()" autocomplete="off">
                    </div>
                    <div class="row" *ngIf="action!=='edit'">
                        <label>Re-Password</label>
                        <input type="password" name="re-password" (change)="checkDuplicatePassword()"
                            formControlName="isRePassword" autocomplete="false">
                    </div>
                    <div *ngIf="!duplicatePassword" class="error-password"> Please make sure your passwords match </div>
                    <div class="row">
                        <label>Name</label>
                        <input type="text" name="name" formControlName="isName" autocomplete="false">
                    </div>
                    <div class="row">
                        <label>Surname</label>
                        <input type="text" name="surname" formControlName="isSurname" autocomplete="false">
                    </div>
                    <div class="row">
                        <label>Telephone</label>
                        <input type="tel" name="telephone" formControlName="isTelephone" autocomplete="false">
                    </div>
                    <div class="row">
                        <label>E-mail</label>
                        <input type="email" name="e-mail" formControlName="isEmail" autocomplete="false">
                    </div>
                    <!-- <div class="row">
                        <label>Department</label>
                        <select name="departmentId" id="departmentId" formControlName="isDepartmentId">
                            <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div> -->
                    <div class="row">
                        <label>Department</label>
                        <mat-select name="departmentId" id="departmentId" formControlName="isDepartmentId">
                            <mat-option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                    </div>
                </div>

                <div [ngClass]="{'btn-row-register':checkAction(), 'btn-row':!checkAction()}">
                    <button type="submit" *ngIf="action=='register'" (click)="clickRegister()"
                        class="btn-submit">Register</button>
                    <button type="submit" *ngIf="action=='register'" (click)="clickCancelRegister()"
                        class="btn-cancel">Cancel</button>

                    <button type="submit" *ngIf="action=='add'" (click)="clickAdd()" class="btn-submit">Add</button>
                    <button type="submit" *ngIf="action=='edit'" (click)="clickSaveEdit()"
                        class="btn-submit">Save</button>

                    <button type="submit" *ngIf="action!='register'" (click)="clickCancel()"
                        class="btn-cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>